.footer {
  padding: 0 0 0rem 2.5rem;
}
.content {
  padding: 7.4rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.content_1 {
  /* padding: 80px 0 0 140px; */
  line-height: 1.5rem;
  padding: 1rem 2rem 0 0rem;
  text-align: center;
}

.content_2 {
  width: 44rem;
  padding: 4rem 0rem 0 5rem;
}

.content_2_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* line-height: 1.2rem; */
}
.bg-img {
  width: 12rem;
  margin: 2.5rem;
  margin-left: 3.5rem;
  margin-top: 0rem;
}
.content_line {
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 0.6rem;
  padding: 0 0 0rem 0;
}
.phoneContent{
    display: none;
    
}
.itemtxt{
  color: black;
}
.phoneContent_2_1{
    display: none;
}
.content_btn{
  display: none;
}
@media screen and (max-width: 576px) {
  .content{
    flex-direction: column;
    align-items: center;
  }
  .content .bg-img{
    width: 60%;
  }
  .phoneContent{
    display: block;
  }
  .phoneContent .phoneItem{
    padding: 3rem 0rem 0rem 0rem;
    line-height: 4rem;
  }
  .itemtxt{
    color: #F48DA1;
  }
  .content_1{
    display: none;
  }
  .content_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 20rem;
    height: 4rem;
    border: #F48DA1 1px solid;
    border-radius: .5rem;
    padding: 1rem 0 1rem 0rem;
    margin:1rem 0 2rem 2rem;
    cursor: pointer;
    color: #F48DA1;
  }
  .content_2{
    display: flex;
    justify-content: center;
  }
  .content_2_1{
    display: none;
  }
  .content_line{
    display: none;
  }
  .phoneContent_2_1{
    display: block;
    margin: 0rem 0rem 0rem 3rem;
    line-height: 3rem;
    
  }
  .phoneContent_2_1 div{
    font-size: 2rem;
  }
  
}