.content_1 {
  padding: 7.4rem 0 0 9.3rem;
  line-height: 4.5rem;
}

.content_2 {
  /* 群群改 */
  /* 臭豬豬PADDING-BOTTOM幹嘛設10REM */
  /* padding: 7rem 0 10rem 9.3rem; */
  padding: 3rem 0 0rem 9.3rem;
}
.content_2_1 {
  display: flex;
  width: 33.1rem;
  justify-content: space-between;
}
.content_2_1_1 {
  font-size: 1rem;
  line-height: 2rem;
  /* padding: 0 53px 0 0; */
}
.content_line {
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 0.6rem;
  padding: 0 0 1.5rem 0;
}
.phone-content_2_1{
  display: none;
}
.content_btn{
  display: none;
}
@media screen and (max-width: 576px) {

   .content_1{
     display: block;
      line-height: 10rem;
      padding: 5.4rem 0 0 2.3rem;
  }
  .content_1 .sm-txt{
    color: #F5991B;
  }
  .content_2{
    padding: 3rem 0 0 2.3rem;
    
  }
  .line-bottom-01{
    padding: .5rem;
  }
  .phone-content_2_1{
    padding: 3rem 0 0 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8rem;
  }
  .phone-row{
    display: flex;
    flex-direction: row;
    width: 30rem;
    justify-content: space-between;
  }
  .content_2_1{
    display: none;
  }
  .content_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 20rem;
    height: 4rem;
    border: #F48DA1 1px solid;
    border-radius: .5rem;
    padding: 1rem 0 1rem 0rem;
    margin:1rem 0 2rem 2rem;
    color: #F48DA1;
    cursor: pointer;
  }
  
}