.container{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    .png{
        .png-img{
            height: 27rem;
            width: 17rem;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    .svg{
        .svg-img{
            height: 13rem;
            width: 18rem;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}