.container{
    .QR_group{
        margin: 3.5rem;
        display: flex;
        flex-direction: column;
        .QR_group__col{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 45rem;
            .QR{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 17.5rem;
                .Member{
                    .intr-img {
                        width: 8rem;
                        height: 8rem;
                      }
                }
                .QR_icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7.65rem;
                    height: 7.65rem;
                    border: 1px solid white;
                }
            }
        }
        
    }
    .QR_intro{
        margin: 3.5rem;
        width: 45rem;
        display: flex;
        justify-content: space-between;
        .intro_str{
            width: 17rem;
            height: 17rem;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}